/* Add a pink background color to the top navigation */
.topnav {
    background-color: #d30375;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  body {
    font-family: 'Courier New', monospace;
    background: black;
    
  }

  h1 {
    color: #f2f2f2;
    font-weight: 500;
  }

  p {
    color: #f2f2f2;
    font-weight: 500;
    font-size: x-large;

  }

  p:hover {
    background: #d30375;
  }

  p2 {
    color: #f2f2f2;
    font-weight: 500;
    font-size: large;
  }

  img {
    float: right;
    width: 50%;
  }

  button {
    background-color: #d30375; 
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Courier New', monospace;
    cursor:pointer;
    color:white;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:500px;
    }
    
    [type="submit"]:hover { background:#d30375; }
