body { background: black; }
form { max-width:650px; margin:50px auto; }

h1 {
    font-family: 'Courier New', monospace;
    color: white;
    text-align: center;
    font-weight: 250;
    font-size: 24px;

}
.feedback-input {
  color:white;
  font-family: 'Courier New', 'monospace';
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 30px;
  background-color: transparent;
  border:2px solid #d30375;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #d30375; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    font-family:'Courier New', 'monospace';
    width: 100%;
    background:#d30375;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:500px;
  }
  [type="submit"]:hover { background:#d30375; }