body {
    background-color: black;
}

center {

    display: block;
    margin: 0px auto;
    width: 50%;
  }

button {
    background-color: #d30375; 
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Courier New', monospace;
    cursor:pointer;
    color:white;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:500px;
    }
    
    [type="submit"]:hover { background:#d30375; }

  body {
    font-family: 'Courier New', monospace;
    
  }