body {
    background-color: black;
}

html
{
    font: size 100%;
}

body
{
	-webkit-font-smoothing:antialiased;
    color: #f2f2f2;
    font-family: 'Courier New', monospace;
    text-align: left;
	font-size:17px;
	font-weight:500;
    text-rendering:optimizeLegibility;

}

.skill-set li:hover
{
    background: #d30375;
}

h1
{
    color:#f2f2f2;
    text-align: left;
}

.wrapper
{
	height:100%;
}

h1
{
    text-align: left;
    font-size: xx-large;
    font-weight: 500;
}

ul
{
	list-style-type:none;
	margin-top:-10px;
	max-width:570px;
    padding:0;
    text-align: left;
}

.skill-set li
{
	border-radius:5px;
    color: #f2f2f2;
    display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
    padding:10px;
}