<title>Resume</title>
<link rel="stylesheet" href="about.css">
<link rel="stylesheet" href="resume.css">
<div class="topnav">
    <a class="active" href="home.html">Home</a>
    <a href=aboutMe.html>About</a>
    <a href="contact.html">Contact</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="resume.html">Resume</a>
  </div>
<body>
<section>
  <h1>Delia Xenophontos</h1>
</section>
</div>
<section>
  <h3>Education</h1>
  <p3>York University | Full-Stack Web Development | January 2021 - Present |</p3>
</section>
<section>
  <h3>Technical Skills</h3>
  <ul class="skill-set">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Creative Coding</li>
    <li>Information Technology</li>
    <li>Web Design and Development</li>
  </ul>
</section>

</div>

</body> 